# use flake

export OP_ACCOUNT=nf-core

# FIXME https://github.com/tmatilai/direnv-1password/issues/6
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.1/1password.sh" \
  "sha256-4dmKkmlPBNXimznxeehplDfiV+CvJiIzg7H1Pik4oqY="

from_op AWS_ACCESS_KEY_ID="op://Dev/AWS megatests/username"
from_op AWS_SECRET_ACCESS_KEY="op://Dev/AWS megatests/password"
