# use flake

export OP_ACCOUNT=nf-core

# FIXME https://github.com/tmatilai/direnv-1password/issues/6
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.1/1password.sh" \
    "sha256-4dmKkmlPBNXimznxeehplDfiV+CvJiIzg7H1Pik4oqY="

from_op <<OP
    AWS_ACCESS_KEY_ID="op://Dev/Pulumi-AWS-key/access key id"
    AWS_SECRET_ACCESS_KEY="op://Dev/Pulumi-AWS-key/secret access key"
OP
