repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check # linter
        args: [--fix, --exit-non-zero-on-fix] # sort imports and fix
      - id: ruff-format # formatter
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.4.0"
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML
          - types-requests
          - types-jsonschema
          - types-Markdown
          - types-setuptools
          - pulumi>=3.173.0
          - pulumi-aws>=6.81.0
          - pulumi-github>=6.7.2
          - pulumi-onepassword>=1.1.3

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.46.6
    hooks:
      - id: renovate-config-validator
