watch_file pixi.lock
eval "$(pixi shell-hook)"

export OP_ACCOUNT="nf-core"
export TWITTER_BEARER_TOKEN=$(op read "op://Shared/3yyagrpjil6orirpdr7xslerfi/Bearer token")
# export GITHUB_TOKEN=$(op read "op://Private/GitHub Personal Access Token/token")
# export HF_TOKEN=$(op read "op://Private/Hugging Face API Token/user access token")
export SLACK_TOKEN=$(op read "op://Employee/Slack Steampipe CLI OAuth Token/credential")
