watch_file pixi.lock
eval "$(pixi shell-hook)"

# export OP_ACCOUNT="nf-core"
export TWITTER_BEARER_TOKEN=$(op read "op://Private/Twitter Bearer Token/credential")
export GITHUB_TOKEN=$(op read "op://Private/GitHub Personal Access Token/token")
export HF_TOKEN=$(op read "op://Private/Hugging Face API Token/user access token")
